/*登录*/		
.wrapper { background:#fff;}

.login_box{background:#fff;}
.login_nav_item{color:#ccc; font-size:12px;  line-height:25px;}		
	.login_nav_item a{color:#333; text-decoration:none; height:25px; line-height:25px; display:inline-block; padding:0 10px;}		
	.login_nav_item a:hover{ text-decoration:underline;}
	.login_nav_item .service_tel{color:#666;}
.login_box_banner .banner{height:40px; line-height:40px; overflow:hidden; list-style:none; color:#666; font-size:14px; width:484px; padding:0; margin:auto; clear:both;}
.login_box_banner .banner li{float:none;}
.login_box_banner { width:620px;}
.login_box_info{background:#f9f9f9; border:1px solid #D4D4D4; width:348px;}
		.login_box_info dl{padding:15px 22px;}	
			.login_box_info dl dd label.txt,#upload_tip dl.left_side dd label.txt{font-size:12px; display:inline-block;  margin-left:5px;margin-right:5px; line-height:30px;}
				.login_box_info .tips_on .auto_login,
				.winbody .tips_on  .auto_login{border:1px solid #c7c7c7; position:relative; z-index:1; padding:1px 0 0; border-bottom:none; background:#fff;}
				.login_box_info dl dd .tips{padding-left:60px; color:#999;}
				.login_box_info dl dd .tips_word,
				.winbody .tips_word{ position:absolute; color:#FF5A00; padding:0 5px; line-height:20px; top:21px; left:30px; background:#fff; border:1px solid #c7c7c7;}	
					.login_box_info dl dd .auto_login,
					.winbody .auto_login {padding:2px 1px 0px; float:left; height:20px; line-height: 20px; display:inline-block; vertical-align: middle;}
					/*.login_box_info dl dd .auto_login input,
					.winbody .auto_login input{ margin-top:-5px; }*/
						#ie7 .login_box_info dl dd .auto_login input{ position:relative; top:-4px;}
						.login_box_info dl dd .help_login{height:13px; width:13px; cursor:pointer; margin:5px 10px 0; float:left; }
						.login_box_info .word_login{border-top:1px solid #e9e9e9; height:98px;}
						.word_login p{color:#666;}
						.word_login dl{padding:0;}
						.word_login dl dt{background:url(../images/slogin.png) no-repeat; display:block; float:left; height:16px; margin-bottom:10px; width:16px;}
						.word_login dl dd{float:left; height:16px; line-height:16px; overflow:hidden;margin-bottom:10px; margin-left:5px; margin-right:10px;*margin-right:5px;}
						.reflect{margin-top:1px;}
						label.logintxt { position:absolute; left:75px;.left:70px; top:9px; color:#bdbdbd;-moz-user-select: none; cursor:text;}
#ie6 #login_password_msg{display:inline-block; position:absolute; left:65px; bottom:0;}

.tipsy-inner {  _width:200px;}

.button_box {padding-left: 46px;}
.button_box .submit,.button_box a.button{ font-size:14px;}
.button_box .submit{ width: 100px;height:28px; line-height:16px;}

.button_box a.button{line-height:16px; height: 18px; width: 80px; text-align:center;}


.winbody .button_box,.winbody .tips_box{ padding-left:30px; background:#fff;}
.winbody .left_side{ width:280px; padding-left:20px; float:left;}
.winbody .word_login { float:left; width:190px; padding-left:15px; border-left:1px solid #eee; overflow:hidden;}
.winbody .word_login dl dd{ margin-right:20px; width:50px;}

.error_box{position:absolute;right:10px;top:22px;background:#FFE6C6; color:#333;}
.error_box dl{border:1px solid #FFC67C;background:#FFFCE4;position:relative;top:-1px;left:-1px;padding:10px 15px 0;z-index:7;}
.error_box dt i,.l_box .error p i{display:inline-block;width:16px;height:16px;background:url(../images/error.gif) no-repeat 0 center ;margin-right:5px;vertical-align:-3px;*vertical-align:-1px;}
.error_box dt strong{font-size:14px;color:#BF3A00;}
.error_box dd{margin-bottom:18px;}
.error_box dd a{text-decoration:underline;}
.error_box .close{display:block;width:11px;height:10px;overflow:hidden;background:url(../images/error_ico.png) no-repeat 0 1px;position:absolute;right:12px;top:12px;z-index:9;}
.error_box .close:hover{background-position:0 -9px;}
.error_box .arrowr{display:block;position:absolute;right:-13px;top:50%;width:15px;height:29px;margin-top:-15px;background:url(../images/error_ico.png) no-repeat 0 -20px;z-index:8;}

.submit{ padding:2px 20px; line-height:25px;*line-height:20px;}
.valid_error span{ display: inline-block; vertical-align:middle; width: 260px; overflow: hidden;}
.loginwaitbox { width:16px; display: inline-block; overflow: hidden;  vertical-align: middle;}
.fl_l a.button {
line-height: 18px;
height: 18px;
width: 80px;
text-align: center;

}
/* 注册表单样式 */
.nc-login-layout { width: 900px;margin:10px auto;}
.nc-login { width: 400px; float:right; margin-right:20px}
.nc-login-title { background:#F9F9F9; border: #D8D8D8 solid; border-width: 1px 1px 0 1px;}
.nc-login-title h3 {font-size:18px; font-family: "微软雅黑"; font-weight:700; line-height: 20px; padding:15px 0 25px 25px; color: #555;}
.nc-login-content { background:#F9F9F9; padding: 0 20px; border: #D8D8D8 solid; border-width: 0 1px; overflow:hidden; zoom:1;}
.nc-login-content dl { width: 100%; float:left; clear: both; padding: 0; }
.nc-login-content dt { font-size:14px; line-height: 28px; color: #777; text-align: right; width: 22%; float:left; }
.nc-login-content dd { text-align:left; width:75%; float:right;}
.nc-login-content dd label { clear:both; float:left; line-height: 24px; height:24px; width:210px; margin:0;}
.nc-login-content dd .text{ font-family: Tahoma; width: 220px; height: 20px; line-height: 20px; background-color:#FFF; padding: 3px!important; border: solid 1px; border-color: #BBB;}
.nc-login-content dd .text:focus{ background-color:#FFF; border-color: #EFA100; outline: 2px solid #FFDC97;}
.nc-login-content dd a { line-height: 28px; height: 28px; text-align:left; color: #999;}
.nc-login-content .submit { font-size: 14px; font-weight: 700; color: #FFF; background: url(../images/login.png) no-repeat scroll 0px -56px; width: 98px; height: 34px; padding: 0; margin: 0; border: 0; cursor: pointer;}
.nc-login-content .submit:hover{ background: url(../images/login.png) no-repeat scroll 0px -90px; }

.nc-login-layout a.forget { font-weight:700; color:#06C; margin-left:10px;}
.nc-login-layout a.register { font-weight: 600; line-height: 26px; color: #555; background: #FFF url(../images/login.png) no-repeat scroll -98px -56px; text-align: center; display:inline-block; width: 50px; height: 26px; margin: 0 6px;}
.nc-login-layout a:hover.register {background-position: -98px -82px; color: #000;text-decoration: none;}
.nc-login-layout a.agreement { color: #c53801; font-weight:600; }
.nc-login-layout a.agreement:hover { text-decoration: underline; }
 
.nc-login-bottom { clear: both; background: url(../images/login.png) no-repeat scroll 0px -124px; width: 400px; height: 40px;}

.nc-login-left { line-height: 22px; color: #626A73; display: inline; width: 450px; float: left; margin: 0px auto;}

.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}